@import './constants.css';
@import './typography.css';
@import './animations.css';
@import './normalize.css';

html {
  background-color: #fff;
  overflow-y: scroll;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}