.loading,
.loading:before,
.loading:after {
  animation: spinner 1s infinite ease-in-out;
  background: #6dc2e8;
  height: 4em;
  width: 1em;
}

.loading {
  animation-delay: -0.16s;
  color: #6dc2e8;
  font-size: 1rem;
  margin: 5rem auto 2.5rem auto;
  position: relative;
  text-indent: -9999px;
  transform: translateZ(0);
}

.loading:before,
.loading:after {
  content: '';
  position: absolute;
  top: 0;
}

.loading:before {
  animation-delay: -0.32s;
  left: -1.5rem;
}

.loading:after {
  left: 1.5rem;
}
